xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
Carthage/Build/
Dependencies/
.accio/
fastlane/screenshots/**/*.png
iOSInjectionProject/
*.apk
*.aar
*.ap_
*.aab
*.dex
gen/
out/
.gradle/
local.properties
proguard/
.navigation/
captures/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.externalNativeBuild
.cxx/
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.DS_Store/
.idea/
pubspec.lock
build/
*.exe
*.aot
*.run
doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
lib/generated_plugin_registrant.dart
app.*.symbols
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
**/doc/api/
*.g.dart
*.s.dart
*.hive
*.lock
res/
*.src
logs/
.firebase/
*.db
l/